.filter-btn {
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: var(--weight-600);
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn:hover {
    border-color: var(--main-color-1);
    color: var(--main-color-1);
    transform: translateY(-0.2rem);
}

.filter-btn.active {
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
    color: white;
}

.filter-icon {
    font-size: 1.8rem;
}