.contact-info-item {
    gap: 5rem;
}

.contact-info-item .info-icon {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    background-color: var(--container-color);
    border: 0.2rem solid var(--border-color);
    color: var(--title-color);
    transition: all 0.3s ease;
}

.contact-info-item .info-icon::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: var(--border-color);
    right: -3rem;
    z-index: -1;
}

.contact-info-item .info-icon:hover {
    background-color: var(--main-color-1);
    color: var(--white-color);
    border-color: var(--main-color-1);
}

.contact-info-item .info-title {
    color: var(--title-color);
    font-size: 1.8rem;
}

.contact-info-item .info-value {
    color: var(--text-color);
    font-size: 1.3rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info-item .info-value:hover {
    color: var(--main-color-1);
}