.sectionTitle {
    width: 100%;
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: var(--weight-800);
    color: var(--title-color);
    margin-bottom: 4rem;

    span {
        color: var(--main-color-1);
    }
}