.sidebar {
    width: 50px;
    background-color: var(--container-color);
    color: var(--title-color);
    transition: width 0.3s ease;
}

.sidebar.open {
    width: 300px;
}

.toggle-btn {
    border: 1px solid var(--border-color);
    color: var(--title-color);
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 15px;
    font-size: 1.5rem;
    background-color: var(--container-color);
    width: 30px;
    aspect-ratio: 1/1;
}