/* --------------home------------------- */

.home .name,
.home .jobTitle {
    color: var(--main-color-1);
}

.home .jobTitle {
    display: inline-block;
    animation: upDown 1s ease-in-out infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home .homeContent p {
    color: var(--text-color);
}

/* --------------homeImg------------------- */
.home .homeImg {
    width: 30rem;
    height: 30rem;
    position: relative;
}

.home .homeImg::before {
    content: "";
    position: absolute;
    inset: 0;
    border-bottom: 0.2rem dotted var(--main-color-2);
    border-right: 0.2rem dotted var(--main-color-1);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.home .homeImg img {
    /* object-fit: contain; */
    /* height: 100%; */
    /* cursor: grab; */
    transition: transform 0.3s ease;
    z-index: 10;
}

.home .homeImg img:hover {
    transform: scale(1.2) !important;
}