/* @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700;800&display=swap');

:root {
  /* ===========color================== */
  --main-color-1: #1976D2;
  --main-color-2: #0D47A1;
  --main-color-light: #3d66be0f;


  --title-color: #424045;
  --text-color: #615d65;
  --body-color: #fcfcfd;
  --container-color: #f2f2f3;
  --border-color: #e8e7e9;
  --white-color: #ffffff;

  --red-color: #DC3545;
  --yellow-color: #FFC107;
  --green-color: #198754;
  --blue-color: #0D6EFD;

  /* ===========fonts================== */
  --body-font: "Montserrat Alternates", sans-serif;

  --h1-font-size: 3.5rem;
  --h2-font-size: 3rem;
  --h3-font-size: 1.5rem;
  --large-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* ===========weight================== */
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
  /* -------------   */
  --black: #000;
  --white: #fff;

}

/* =============Base==================== */
* {
  /* font-family: "Poppins", sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* transition: all 0.3s ease; */
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

body.dark {
  --title-color: #ffffff;
  --text-color: #707070;
  --body-color: #141415;
  --container-color: #1f1d20;
  --border-color: #29272a;

  /* --black: #fff;
  --white: #000; */
}


h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-800);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width:991px) {
  html {
    font-size: 57%;
  }
}

@media(max-width:450px) {
  html {
    font-size: 55%;
  }
}