.layout {
    display: flex;
}

/* لما يفتح خلي المحتوى فوق الصفحة */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 999;
}

.main-content {
    margin-left: 50px;
    /* ثابت */
    width: 100%;
}